<div *ngIf="show" class="fixed inset-0 bg-gray-900/30 backdrop-blur-sm flex items-center justify-center z-[9999]">
  <div class="bg-white p-6 rounded-xl w-80 shadow-xl alert-anim">
    <h2 class="text-xl text-center font-bold mb-2" [ngClass]="{
          'text-[#2bd993]': type==='success',
          'text-[#ff6347]': type==='error',
          'text-[#f2ae41]': type==='warning',
          'text-[#f2ae42]': type==='info'
        }">
      {{ title }}
    </h2>

    <div class="flex justify-center mb-4">
      <ng-lottie [options]="options" background="transparent" width="150px" height="150px"></ng-lottie>
    </div>

    <p class="mb-4 text-center text-gray-700">{{ message }}</p>

    <div class="flex items-center justify-center gap-2">
      <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" (click)="onCancel()">
        Cancelar
      </button>

      <button class="px-4 py-2 rounded text-white pointer-cursor" [ngClass]="{
          'bg-[#2bd993] hover:bg-green-700': type==='success',
          'bg-[#ff6347] hover:bg-red-700': type==='error',
          'bg-[#f2ae41] hover:bg-yellow-600': type==='warning',
          'bg-[#f2ae41] hover:bg-blue-700': type==='info'
        }" (click)="onConfirm()">
        Aceptar
      </button>
    </div>
  </div>
</div>